<br>

<div [hidden]="viewModeHidden">
  <div class="div-center">
    <div>
      Tytuł: {{note.title}}<br>
      Opis: {{note.description}}<br>
      <span *ngIf="myRate !== ''">Moja ocena: {{myRate}}<br></span>
      Średnia ocena: {{note.averageRating}}
      <br>
      <button id="add-rate-button" (click)="addRate()">Oceń</button>
      <span id="place-for-rate">
        <label for="rates">Ocena:</label>
        <select id="rates" name="rates" [(ngModel)]="selectedRate">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button (click)="confirmRate()">Zatwierdź ocenę</button>
      </span> <br>
      Tagi:
      <ul class="tag-ul-container">
        <li class="tag-li-container" *ngFor="let tag of note.tags">
          #{{tag}}
        </li>
      </ul>
      Pliki:
      <ul>
        <li *ngFor="let file of this.files" (click)="downloadFile(file.id)">
          {{file.name}}<br>
<!--          {{getUrl(file.id)}}-->
<!--          <ngx-doc-viewer [url]="getUrl(file).toString()" viewer="url" style="width:100%;height:50vh;"></ngx-doc-viewer>-->
        </li>
      </ul>
    </div>
  </div>

  <div class="div-center">
    <button id="makeChanges" class="button" (click)="editNote()">Edytuj notatkę</button>
  </div>
</div>

<div [ngClass]="displayingDiv">
  <div [hidden]="editModeHidden">
    <div class="div-center">
      <div>
        <div>
          <label for="title">
            Tytuł:
            <br>
          </label>
          <input id="title" [className]="titleClass"
                 type="text" [(ngModel)]="title" (ngModelChange)="checkIsTitleEmpty()">
        </div>

        <div>
          <label for="description">
            Opis:
            <br>
          </label>
          <input id="description" [className]="descriptionClass"
                 type="text" [(ngModel)]="description" (ngModelChange)="checkIsDescriptionEmpty()">
        </div>

        <div>
          <span *ngIf="note.tags.length>0">Tagi:</span>
          <ul class="tag-ul-container">
            <li *ngFor="let tag of note.tags" class="tag-li-container-editing">
              #{{tag}}
                <img src="assets/delete.png" id="button_delete_note" alt="delete" (click)="deleteTag(tag)" style="width: 15px; height: 15px">
            </li>
          </ul>
        </div>

        <div>
          <label for="tag">
            Dodaj tagi:
            <br>
          </label>
          <input id="tag"
                 type="text" [(ngModel)]="tagTmp" (keypress)="addOneTagToTagsList($event)">
        </div>

        <div>
          <input type="file" id="customFile" (change)="selectFile($event)"><br>
        </div>

        <button class="button" (click)="saveChanges()">Zapisz zmiany</button>
        <button class="button" (click)="abortChanges()">Anuluj</button>
        <button (click)="deleteNote()">Usuń notatkę</button>
      </div>
    </div>
  </div>
</div>


<div [ngClass]="displayingDiv">
  <div [hidden]="noteAlreadyExistHidden">
    <h2>Taka notatka już istnieje!</h2>
  </div>
</div>
