<p>registry works!</p>
<div class="div-center">
  <div>
    <div>
      <label for="username">
        Login:
        <br>
      </label>
      <input id="username" [className]="usernameClass"
             type="text" [(ngModel)]="username" (ngModelChange)="checkIsUsernameEmpty()">
    </div>

    <div>
      <label for="email">
        E-mail:
        <br>
      </label>
      <input id="email" [className]="emailClass"
             type="text" [(ngModel)]="email" (ngModelChange)="checkIsEmailEmpty()">
    </div>

    <div>
      <label for="password">
        Hasło:
        <br>
      </label>
      <input id="password" [className]="passwordClass"
             type="password" [(ngModel)]="password" (ngModelChange)="checkIsPasswordEmpty()">
    </div>


    <button class="button" (click)="registry()">Zarejestruj</button>
  </div>
</div>
<div class="div-center">
  <div [hidden]="!loginAlreadyUsed">
    Użytkownik z takim loginem już istnieje
  </div>
</div>
